*{
    padding: 0;
    margin: 0;
}
.main{
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px , 100vw);
    height: 80vh;
    position: relative;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 70vw;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}
nav img{
    color: red;
    width: 144px;
    position: relative;
    z-index: 10;
}
.flex button{
    position: relative;
    z-index: 10;
}